<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <p>Hello Ninjas</p>
    <p>What is your name?</p>
    <form action="/result" method="post">
        {% csrf_token %}
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        

        <label for="dojos">Choose your dojo:</label>
        <select name="dojos" id="dojos">
            <option value="Seattle">Seattle</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="New York">New York</option>
        </select>

        <p>Please select your gender:</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>

        <p>PLease select your favorite foods</p>
        <input type="checkbox" id="food1" name="food[]" value="Pizza">
        <label for="food1"> Pizza </label><br>
        <input type="checkbox" id="food2" name="food[]" value="Hamburger">
        <label for="food2"> Hamburger </label><br>
        <input type="checkbox" id="food3" name="food[]" value="Ice Cream">
        <label for="food3"> Ice Cream </label><br>
    <br>  
    <br>
    <input type="submit" value="Submit">
    </form> 
</body>
</html>