<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Login/Registration</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

            <h2>Register</h2>
            <form action="/register" method="post">
                {% csrf_token %}

                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name">

                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name">

                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">


                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">


                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm" id="confirm">
                    <input type="submit" value="Register">
            </form>

            <h2>Login</h2>
            <form action="/login" method="post">
                {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <input type="submit" value="Login">
            </form>
            <h2><a href="/delete_all">Reset All</a></h2>
</body>
</html>