<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <h1>Random Word (attempt number 0)</h1>
    <h1>press the button to generate a random word</h1>
    <form action="/random_word" method="post">
        {% csrf_token %}
    <input type="submit" value="Generate">
    </form> 
    <form action="/reset" method="post">
        {% csrf_token %}
    <input type="submit" value="Reset">
    </form>
</body>
</html>