<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <h1>Your Gold {{request.session.gold}}</h1>
    <br>
    <form action="/process_money" method="post">
        {% csrf_token %}
        <p>Earns 10-20 Gold</p>
    <input type="hidden" name="location" value="farm">
    <input type="submit" value="Farm">
    </form>
    
    <form action="/process_money" method="post">
        {% csrf_token %}
        <p>Earns 5-10 Gold</p>
    <input type="hidden" name="location" value="cave">
    <input type="submit" value="Cave">
    </form>

    <form action="/process_money" method="post">
        {% csrf_token %}
        <p>Earns 2-5 Gold</p>
    <input type="hidden" name="location" value="house">
    <input type="submit" value="House">
    </form>

    <form action="/reset" method="post">
        {% csrf_token %}
        <p>Reset Game</p>
    <input type="submit" value="Reset">
    </form>
    <h1>History: {{request.session.message}}</h1>
</body>
</html>