<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows DB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <p>test</p>
    <h1>All Shows</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
        {% for show in shows %}
        <tr>
            <th>{{show.id}}</th>
            <th>{{show.title}}</th>
            <th>{{show.description}}</th>
            <th>{{show.network}}</th>
            <th>{{show.release_date}}</th>
            <th>
                <a href="/shows/{{show.id}}">Show</a>
                <a href="/shows/{{show.id}}/edit">Edit</a>
                <form action="shows/{{show.id}}/delete" method="POST">
                    {%csrf_token%}
                    <button type="submit">Delete</button>
                </form>

            </th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>