<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>
<body>
    <form action="/shows/create_show" method="post">
        {% csrf_token %}
        <h4>Add Show</h4>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required ><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br><br>
        <label for="network">Network:</label>
        <input type="text" id="network" name="network" required><br><br>
        <label for="date">Release date:</label>
        <input type="date" id="date"name="date" placeholder="date" required><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>