<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete course {{course.id}}</title>
</head>
<body>
    <h1> Are you sure you want to delete {{course.id}}?</h1>
    <p>Title: {{course.name}}</p>
    <p>Description: {{course.description}}</p>
    <p>Last updated at: {{course.updated_at}}</p>
    

    <form action="/courses/delete_course/{{course.id}}/delete" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    
    <a href="/">Go Back</a>

</body>
</html>