<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <p>test</p>
    <form action="/courses/create_course" method="post">
        {% csrf_token %}
        <h4>New Show</h4>
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required ><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br><br>
        <input type="submit" value="Add">
    </form>
    <h1>All courses</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
        {% for course in courses %}
        <tr>
            <th>{{course.id}}</th>
            <th>{{course.name}}</th>
            <th>{{course.description}}</th>
            <th>{{course.created_at}}</th>
            <th><a href="/courses/delete_course/{{course.id}}">Delete</a></th>
        </tr>
        {% endfor %}
    </table>

    {% if messages %}
    <ul classcopy="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>